.user_card {
  min-width: 500px;
  display: flex;
  padding: 15px;
  border: 4px solid teal;
  border-radius: 5px;
  cursor: pointer;
}

.user_card:hover {
  border-color: #ca563f;;
}

.user_name {
  font-size: 23px;
  color: #c2c2c2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
