.posts {}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: #b7b769;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .1rem;
  word-spacing: 0.3rem;
  margin-bottom: 35px;
}

.posts_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
